.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #000;
  padding-left: 100px;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.show {
  transform: translateX(0);
}

.header__list {
  z-index: 9999;
  color: white;
  list-style: none;
  counter-reset: item;

  & > li {
    counter-increment: item;
    margin-bottom: 20px;
  }

  & > li:before {
    margin-right: 10px;
    content: counter(item) ".";
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  & > li:hover::before {
    color: $darkBlue;
  }

  .header__list-item > a {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $darkBlue;
    }
  }

  .header__list-item .header__list-item__menu {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > li a {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: $white;
      text-decoration: none;
      margin-left: 35px;
      transition: all 0.3s ease;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}

.header__btn_wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

  .header__btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__btn span {
    display: block;
    height: 4px;
    width: 50px;
    background-color: $white;
  }
}

@include mobile() {
  .header__btn_wrapper {
    width: 90px;
    height: 90px;
  }

  .header {
    width: 100%;
    padding-left: 40px;
    padding-top: 20vh;
    justify-content: flex-start;
  }
}
