#catalog__hero {
  height: 100vh;
  background-image: url(../images/bg__catalog.jpeg);
  background-size: cover;
  background-position: center;

  img {
    width: 213px;
    margin-top: 100px;
  }
}

.catalog__wrapper {
  padding-bottom: 150px;
}

.catalog__title {
  @include heading(953px, $white);
  padding: 80px;
  background: $darkBlue;
  margin-top: -160px;
  margin-bottom: 150px;
}

.catalog__list {
  display: flex;
}

.catalog__menu {
  max-width: 305px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog__menu-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid $grey;

  &:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 10px 10px;
  }

  a {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: $grey;
    text-decoration: none;
    max-width: 204px;

    &:hover {
      text-decoration: underline;
    }
  }

  &::after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-down.svg);
    background-size: contain;
    background-position: center;
  }
}

.catalog__menu-item.active {
  background-color: $darkBlue;
  color: white;
  border-color: $darkBlue;

  &::after {
    background-image: url(../images/arrow-down-white.svg);
  }

  a {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $white;
  }

  .catalog__products {
    list-style: none;

    .catalog__products-item {
      padding: 10px 0;

      a {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.catalog__list .similar__products {
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
