#catalog__hero {
  height: 100vh;
  background-image: url(../images/bg__catalog.jpeg);
  background-size: cover;
  background-position: center;

  img {
    width: 213px;
    margin-top: 100px;
  }
}
