#solutions {
  padding: 150px 0;
}

.solutions__wrapper {
  display: flex;
}

.solutions__caption {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.caption {
  @include heading();
}

.caption + .info {
  max-width: 496px;
}

.solutions__list {
  width: 58%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px 120px;
}

.solutions__list_item {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.solutions__list_item img {
  width: 50px;
  height: 50px;
  margin-left: 48px;
}

.solution__info {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  span {
    position: relative;
    padding-left: 10px;
    padding-bottom: 30px;
    color: #999;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 1px;
      height: 35px;
      background-color: #999;
    }
  }
}

.solution__info h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.solution__info p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}
